@media screen and (min-width: 768px) {
  button[menu-toggle] {
    display: none;
  }
  .feeds-categories-view .feed-category {
    height: calc(50vw - 130px);
  }
  .popover {
   height: 800px;
  }
  .profile-view .user-image-container .user-image {
    width: 60%;
  }
}

.title.item h1 {
  font-size: 21px;
  color: #6A6A6A;
}

.contrast-on .list.category-feeds,
.contrast-on .list.category-feeds b,
.contrast-on .list.category-feeds .item {
  color: #cccccc;
  background-color: #23262A;
}
.contrast-on .list.category-feeds .list.card {
  box-shadow: none;
}
.contrast-on ion-footer-bar.post-footer {
  background-color: rgba(255,255,255,0.04);
}
.contrast-on ion-footer-bar.post-footer .button-icon {
  color: #cccccc;
}

mark {
  background-color: #fff;
  color: #D17C00;
}

ion-spinner {
  z-index: 1000;
  position: fixed; 
  top: 50%;
  left: 50%;
}

ion-spinner[icon=lines] {
  top: 5%;  
}

.hilite {
  color: #F5262E !important;
}

.popover {
  height: 480px;
}

.profile-view .top-content {
  margin-bottom: 18vh;
}

.profile-view .user-twitter a {
	color: #FF4C4C;
	text-decoration: none;
}

.post-text {
	font-size: 14px;
	font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.children span.title {
  display: block;
  padding: 5px 0 5px 0;
}

.search .description {
	color: #CCC6C6;
}

.search .item-select {
  margin-top: 8px;
}

.category-feeds .item {
  padding-left: 24px !important;
}

.title summary .icon {
  color: #FF4C4C;
  font-size: 2.5em;
  float: left;
  margin-right: 13px;
}
.title details[open] summary .ion-arrow-shrink {
  display: block;
}
.title details[open] summary span,
.title details[open] summary .ion-arrow-expand,
.title summary::-webkit-details-marker,
.title details summary .ion-arrow-shrink {
  display: none;
}
.title p {
  margin: 10px 0;
}

bref,
reflink {
	color: #FF4C4C;
}

.post-heading b {
	color: #FF4C4C;
}

.post-content.jge strong,
.post-content.kdc h3 {
  display: block;
  margin: 10px 0 10px 0;
}

.post-content.kjv .item {
  border: none;
  padding-bottom: 0;
}

.post-content.kjv .play {
  position: absolute;
  left: 10px;
  width: 40px;
}

ion-footer-bar select {
  width: 90%;
}

ion-footer-bar .ion-ios-arrow-forward {
  float: right;
}

.results.list {
  padding-top: 0;
}

h5.no-results {
  color: #FF4C4C;
  margin: 35px 0 20px 20px;
}

.info img.category-image {
  float: left;
  margin: 0 12px 1px 0;
  -webkit-filter: sepia(1);
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
}

ion-footer-bar.post-footer {
  background-color: rgba(255,255,255,0.3);
}

ion-footer-bar.post-footer .button-icon {
  color: #FF4C4C;
}

ion-footer-bar.post-footer .pull-right {
  text-align: right;
}