<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">    
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content>
      <ion-list>
        
        <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.intro">
          <div class="user-image-container">
            <img class="user-image" ng-src="img/icon.png">
          </div>
          <h2 class="greeting">Bible</h2>
          <p class="message">Study app</p>
        </ion-item>
        
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.search({ version: 'kjv' })">
          <i class="icon ion-search"></i>
          <h2 class="menu-text">Search</h2>
        </ion-item>
        
        <ion-item class="item-icon-left" nav-clear menu-close ng-click="open(version.slug)" ng-repeat="version in versions" href="">
          <i class="icon ion-clock"></i>
          <h2 class="menu-text">{{ version.name }}</h2>
        </ion-item>

        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.about">
          <i class="icon ion-gear-a"></i>
          <h2 class="menu-text">About</h2>
        </ion-item>
      
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>