<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">    
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content>
      <ion-list>
        <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.intro">
          <div class="user-image-container">
            <img class="user-image" ng-src="img/icon.png">
          </div>
          <h2 class="greeting">Bible</h2>
          <p class="message">Study app</p>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ng-click="open(version.slug)" ng-repeat="version in ::versions" href="">
          <i class="icon ion-ios-circle-outline"></i>
          <h2 class="menu-text">{{ ::version.name }}</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.search({ version: 'kjv' })">
          <i class="icon ion-search"></i>
          <h2 class="menu-text">Search</h2>
        </ion-item>   
        <!--ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.settings">
          <i class="icon ion-settings"></i>
          <h2 class="menu-text">Settings</h2>
        </ion-item-->     
        <ion-item class="item-icon-left item-complex" nav-clear menu-close ng-click="show()">
          <a class="item-content">
            <i class="icon ion-settings"></i>
            <h2 class="menu-text">Settings</h2>
          </a>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.about">
          <i class="icon ion-ios-help-outline"></i>
          <h2 class="menu-text">About</h2>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

<script id="settings.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Settings</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list list-inset">
        <ion-toggle ng-model="settings.chapterNumbers" toggle-class="toggle-assertive">Show chapter numbers</ion-toggle>
        <ion-toggle ng-model="settings.enableCaching" toggle-class="toggle-assertive">Enable caching</ion-toggle>
        <ion-toggle ng-model="settings.continuousPlay" toggle-class="toggle-assertive">Play audio continuously</ion-toggle>
        <ion-toggle ng-model="settings.contrastMode" toggle-class="toggle-assertive">Enable contrast</ion-toggle>
        <button class="button button-full button-positive" ng-click="save()">OK</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>