<ion-view class="info feeds-categories-view">

  <ion-nav-buttons side="secondary">
    <a class="button button-icon icon ion-reply-all" ng-click="popover.show($event)"></a>
  </ion-nav-buttons>
  
  <ion-nav-title>
    <span>{{ ::name }}</span>
  </ion-nav-title>

  <ion-spinner icon="android" ng-show="busy"></ion-spinner>

  <ion-content>
  	<span ng-hide="busy">
	    <div class="post-content item item-text-wrap">
	    	<img class="category-image" ng-src="img/{{ ::slug }}.jpg">
		    <pre class="post-text" ng-bind-html="::info"></pre>
	    </div>
	    <div class="post-heading item item-text-wrap">
		    <div class="row responsive-sm" ng-if="!stats.is_ebd">
			  <div class="col"><b>{{ ::stats.books | number }}</b> books</div>
			  <div class="col"><b>{{ ::stats.chapters | number }}</b> chapters</div>
			  <div class="col"><b>{{ ::stats.verses | number }}</b> verses</div>
			</div>
			<div class="row responsive-sm" ng-if="stats.is_ebd">
			  <div class="col"><b>{{ ::stats.words | number }}</b> words</div>
			</div>
	    </div>
    </span>
  </ion-content>
</ion-view>

<script id="popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
      <div class="list">
        <a class="item" ui-sref="app.chapters({ version: version, book: bk.book })" 
        ng-click="popover.hide()" 
        ng-repeat="bk in books" ng-class="{ 'hilite' : bk.book == book }">{{ ::bk.name }}</a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>