<ion-view class="children category-feeds-view {{ contrast }}">

  <ion-nav-buttons side="secondary">
    <a class="button button-icon icon ion-reply-all" ng-click="popover.show($event)"></a>
    <a class="button button-icon icon ion-reply" ng-click="popoverVs.show($event)"></a>
    <a class="button button-icon icon ion-android-volume-mute" ng-click="play(book,chapter)" ng-if="isBible && !isPlay()" ></a> 
    <a class="button button-icon icon ion-android-volume-up" ng-click="stop()" ng-if="isBible && isPlay()" ></a>
  </ion-nav-buttons>
   
  <ion-nav-title>
    <span>{{ ::book | name }} {{ ::chapter }}</span>
  </ion-nav-title>

  <ion-spinner icon="android" ng-show="busy"></ion-spinner>
  <ion-spinner icon="lines"   ng-show="load"></ion-spinner>

  <ion-content>
    
    <div class="list category-feeds" ng-hide="busy" ng-if="isBible">     
      <div class="list card post-item">        
        <div class="post-content {{ ::version }}">          
          <div class="item item-text-wrap" ng-repeat="verse in ::verses">
            <b ng-if="showChapters">{{ ::verse.startingVerse }}</b> {{ ::verse.body }}
          </div>
        </div>
      </div>
    </div>

    <div class="list category-feeds" ng-hide="busy" ng-if="!isBible">        
      <div ng-repeat="verse in ::verses" class="list card post-item">
        <div class="post-content item item-text-wrap {{ ::version }}" ng-bind-html="::verse.body"></div>
      </div>    
    </div>

  </ion-content>

  <ion-footer-bar class="post-footer bar bar-footer" ng-if="prevChapter || nextChapter">
    <div class="row">
      <div class="col col-20 col-center">
        <a ng-if="prevChapter" class="button button-icon icon ion-chevron-left" ng-click="prev()"></a>
      </div>
      <div class="col col-60"></div>
      <div class="pull-right col col-20 col-center">
        <a ng-if="nextChapter" class="button button-icon icon ion-chevron-right" ng-click="next()"></a>
      </div>
    </div>
  </ion-footer-bar>

</ion-view>

<script id="book-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
      <div class="list">
        <a class="item" ui-sref="app.chapters({ version: version, book: bk.book })" 
        ng-click="popover.hide()" 
        ng-repeat="bk in books" ng-class="{ 'hilite' : bk.book == book }">{{ ::bk.name }}</a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>

<script id="verse-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
      <div class="list">
        <a class="item" ui-sref="app.verses({ version: version, book: book, chapter: chpt })" 
        ng-click="popoverVs.hide()" 
        ng-repeat="chpt in ::chapters" 
        ng-class="{ 'hilite' : chpt == chapter }">{{ ::chpt }}</a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>